.head{
/*	padding-bottom: 10px;*/
	
}
.searchForm{
	display: inline-block;
	height: 40px;
	margin-left: 180px;
}
.searchForm .search{
	width: 500px;
	height: 40px;
	padding: 5px 10px;
	border: 2px solid #d33f14;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px
}
.searchForm .searchSub{
	width: 48px;
	height: 40px;
	line-height: normal;
	background-color: #d33f14;
	color: #fff;
	border: 0;
	margin-left: -4px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px
}
.dingdan{
	display: inline-block;
	width: 107px;
	height: 40px;
	background-color: #d33f14;
	color: #fff;
	line-height: 40px;
	text-align: center;
	/*padding-right: 15px;*/
	margin-left: 20px;
}
.dingdan:hover{
	color: #fff;
}
.dingdan span{
	margin-right: 5px;
	font-size: 20px;
}
.headTop{
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}
.headTop ul{
	overflow: hidden;
	list-style: none;
	background-color: #d33f14;
	margin: 0;
	border-radius: 5px;
}
.headTop ul li:nth-child(1){
	color: #fff;

}
.headTop ul li:nth-child(1) span{
	display: inline-block;
	margin-right: 5px;
	font-size: 25px;
	margin-top: 5px;
}

.headTop ul li{
	font-size: 16px;
	float: left;
	width: 110px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	
}
.headTop ul li a{
	color: #fff;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.headTop ul li a:hover{
	background-color: rgba(0,0,0,0.2);
}